# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.out
*.pid
*.seed
*.pid.lock

# Runtime data
pids/
*.pid
*.seed
.sourcemaps/

# dotenv environment variables file
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
