.app-header {
  background-color: #0077ff;
  color: white;
  padding: 1.2%;
  display: flex;
}

.app-nav a {
  color: white;
  text-decoration: none;
  margin-right: 35px;
  font-size: 1.1rem;
}

.app-nav a:hover {
  text-decoration: underline;
}

.app-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

.app-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-right img{
  width: 29px;
  height: auto;
}

.nav-right button {
  background-color: #ff5656;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}