.content-home{
    background-color: rgb(249, 250, 251);
}

/* HEADER CONTENT */
.bg-img-home {
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 80vh;
}

.bg-img-home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    transform: scale(1.02);
}

.text-img-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    width: 70%;
}

.text-img-home h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.text-img-home p {
    font-size: 1.5rem;
    opacity: 0.8;
}

/* TERRESTRIAL NATURAL RESOURCE */
#natural, #marine{
    text-align: center;
    margin: 2% 0 2% 0;
    font-size: 2.2rem;
    color: #333;
}

.terrestrial-natural-resource, .marine-natural-resource {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.terrestrial-natural-resource div, .marine-natural-resource div {
    border: 1px solid rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    width: 30%;
    text-align: center;
    padding-bottom: 10px;
    background-color: white;
}

.terrestrial-natural-resource div img, .marine-natural-resource div img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.terrestrial-natural-resource div h5, .marine-natural-resource div h5 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
}

/* REGISTER */
.register-home-section {
  background-color: #0077ff;
  color: white;
  text-align: center;
  padding: 40px;
  margin-top: 3%;
}

.register-content h4 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.register-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.register-btn {
  background-color: #ffffff;
  color: #0077ff;
  font-weight: 500;
  font-size: 1rem;
  padding: 12px 80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
